{% extends "layouts/index.njk" %}
{% block content %}
  <div class="container">
    <p class="leading">
      Kulfon /kuːl fəʊn/ is a <strong>website generator</strong> that combines <strong>data sources</strong>
      with <strong>templates</strong> to tranform them into <strong>HTML pages</strong> at once.
    </p>
  </div>

<section class="features">
  <div class="container">
    <div class="content">
      <div class="feature">
        <h3>Header 1</h3>
        <p>Content 1</p>
      </div>
      <div class="feature">
        <h3>Header 2</h3>
        <p>Content 2</p>
      </div>
      <div class="feature">
        <h3>Header 3</h3>
        <p>Content 3</p>
      </div>
      <div class="feature">
        <h3>Header 4</h3>
        <p>Content 4</p>
      </div>
    </div>
  </div>
</section>

<section class="markups">
  <div class="container">
    <h2>Supported Markups</h2>

    <div>
      <img src="/images/markdown-mark-solid.svg" width="100" alt="" />
      <img src="/images/org-mode.svg" width="100" alt="" />
    </div>
  </div>
</section>

{% endblock %}
