{% extends "layouts/base.html" %}
{% block content %}
<section class="hero">
  <a href="/" class="hero-logo">
    <img src="/images/kulfon-logo.jpg" alt="Kulfon logo">
  </a>
  <h2 class="hero-headline">Simple and fast websites</h2>
  <h3 class="hero-description">
    Kulfon is a one-command static site generator written entirely in JavaScript.
    <br>
    It's fast, modern and simples.
  </h3>
  <br>
  <div class="ph3">
    <a class="ba br2 black-70 no-underline grow b inline-flex items-center mb3 pv2 ph3" href="https://github.com/zaiste/kulfon" title="File a bug, request a feature, ask a question!">
      <div class="w2 pv1 pr2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.083-.202-.358-1.015.077-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.364.092 2.003.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.246.543.735.543 1.48 0 1.07-.01 1.933-.01 2.195 0 .215.144.463.55.385C13.71 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8"></path></svg>
      </div>
      <span>GitHub</span>
    </a>
  </div>

  <br />

<div class="window">
  <div class="bar">&nbsp;</div>
  <div class="terminal">
    <p class="command">yarn global add kulfon</p>
    <p class="log">
      <span>
        yarn global v0.18.1<br />
        warning No license field<br />
        [1/4] 🔍  Resolving packages...<br />
        [2/4] 🚚  Fetching packages... <br />
        [3/4] 🔗  Linking dependencies...<br />
        [4/4] 📃  Building fresh packages... <br>
        success Installed kulfon@0.6.1 with binaries: <br>
              - kulfon <br/>
        ✨  Done in 13.37s. <br/>
      </br/>
      </span>
    </p>
    <p class="command">kulfon init my-new-wonderful-website</p>
    <p class="command">cd my-new-wonderful-website</p>
    <p class="command">kulfon serve</p>
    <p class="command">open http://localhost:3000
  </div>
</div>
</section>
{% endblock %}
