{% extends "layouts/index.njk" %}
{% block content %}
  <div class="container">
    <p class="leading">
      Kulfon /kuːl fəʊn/ is a <strong>static site generator</strong> for the rest of us. It combines <strong>data sources</strong>
      with <strong>templates</strong> to tranform them into <strong>HTML pages</strong> at once.
    </p>
  </div>

  <section class="features">
    <div class="container">
      <div class="content">

        {% for feature in website.features %}
          <div class="feature">
            <h3>{{ feature.header }}</h3>
            <p>{{ feature.content }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="markups">
    <div class="container">
      <h2>Supported Markups</h2>

      <div class="content">
        {% for markup in website.markups %}
        <a href="{{ markup.url }}" class="markup" target="_blank">
          <div><img src="/images/{{ markup.image }}" width="100" alt="{{ markup.name }} is supported by Kulfon" /></div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
