<div class="sidebar">
  <p class="sidebar-heading">Introduction</p>
  <ul class="sidebar-section">
    <li><a href="/docs/why/">Why Kulfon</a></li>
    <li><a href="/docs/install/">Installation</a></li>
    <li><a href="/docs/first-steps/">First Steps</a></li>
  </ul>

  <p class="sidebar-heading">Essential Concepts</p>
  <ul class="sidebar-section">
    <li><a href="/docs/directory-structure/">Directory structure</a></li>
    <li><a href="/docs/pages/">Pages</a></li>
    <li><a href="/docs/components/">Components</a></li>
  </ul>

  <p class="sidebar-heading">Supported Markups</p>
  <ul class="sidebar-section">
    <li><a href="/docs/directory-structure/">Nunjucks</a></li>
    <li><a href="/docs/pages/">Org Mode</a></li>
    <li><a href="/docs/components/">Markdown</a></li>
    <li><a href="/docs/components/">Vue.js Component</a></li>
  </ul>
</div>
