<div class="sidebar">
  <p class="sidebar-heading">Introduction</p>
  <ul class="sidebar-section">
    <li>{% link '/docs/why-kulfon/', 'Why Kulfon' %}</li>
    <li>{% link '/docs/install/', 'Installation' %}</li>
    <li>{% link '/docs/first-steps/', 'First Steps' %}</li>
  </ul>

  <p class="sidebar-heading">Essential Concepts</p>
  <ul class="sidebar-section">
    <li>{% link '/docs/directory-structure/', 'Directory structure' %}</li>
    <li>{% link '/docs/pages/', 'Pages' %}</li>
    <li>{% link '/docs/components/', 'Components' %}</li>
    <li>{% link '/docs/front-matter/', 'Front Matter' %}</li>
    <li>{% link '/docs/routing/', 'Routing' %}</li>
  </ul>

  <p class="sidebar-heading">Supported Markups</p>
  <ul class="sidebar-section">
    <li>{% link '/docs/nunjucks/', 'Nunjucks' %}</li>
    <li>{% link '/docs/org-mode/', 'Org Mode' %}</li>
    <li>{% link '/docs/markdown/', 'Markdown' %}</li>
    <li>{% link '/docs/vuejs/', 'Vue.js <small>(soon)</small>' %}</li>
    <li>{% link '/docs/stenciljs/', 'Stencil.js <small>(soon)</small>' %}</li>
  </ul>

  <p class="sidebar-heading">Data Sources</p>
  <ul class="sidebar-section">
    <li>{% link '/docs/filesystem-yaml/', 'Filesystem as YAML' %}</li>
    <li>{% link '/docs/graphql/', 'GraphQL' %}</li>
  </ul>
</div>
