<div class="sidebar">
  <p class="sidebar-heading">Introduction</p>
  <ul class="sidebar-section">
    <li><a href="/docs/why/">Why Kulfon</a></li>
    <li><a href="/docs/install/">Installation</a></li>
    <li><a href="/docs/first-steps/">First Steps</a></li>
  </ul>

  <p class="sidebar-heading">Essential Concepts</p>
  <ul class="sidebar-section">
    <li><a href="/docs/directory-structure/">Directory structure</a></li>
    <li><a href="/docs/pages/">Pages</a></li>
    <li><a href="/docs/components/">Components</a></li>
    <li><a href="/docs/front-matter/">Front Matter</a></li>
    <li><a href="/docs/routing/">Routing</a></li>
  </ul>

  <p class="sidebar-heading">Supported Markups</p>
  <ul class="sidebar-section">
    <li><a href="/docs/nunjucks/">Nunjucks</a></li>
    <li><a href="/docs/org-mode/">Org Mode</a></li>
    <li><a href="/docs/markdown/">Markdown</a></li>
    <li><a href="/docs/vuejs/">Vue.js <small>(soon)</small></a></li>
    <li><a href="/docs/stenciljs/">Stencil.js <small>(soon)</small></a></li>
  </ul>

  <p class="sidebar-heading">Data Sources</p>
  <ul class="sidebar-section">
    <li><a href="/docs/filesystem-yaml/">Filesystem as YAML</a></li>
    <li><a href="/docs/graphql/">GraphQL</a></li>
  </ul>
</div>
