<header>
  <div class="header-container">
    <a href="/" class="brand">Kulfon</a>
    <nav>
      <a href="/docs/install" class="active">Docs</a>
      <a href="/tutorial">Tutorial</a>
      <a href="#">Features</a>
    </nav>
  </div>
</header>
