<!DOCTYPE html>
<html>
<head>
  {% include "meta.njk" %}

  <title>{% block title %}{{ data.title }}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  {% for stylesheet in stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet }}"/>
  {% endfor %}
  <link href="/styles.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  {% include 'nav.njk' %}

  <section class="hero">
    <div class="container">
      <div class="hero-content">
        <h1>Kulfon</h1>
        <p>Generate Websites from Data, Instantly.</p>
        <a href="/docs/install/" class="red button">Get Started</a>
      </div>
    </div>
  </section>

  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>
  
  <footer class="pv4 ph3 ph5-m ph5-l light-white">
    <small class="f6">© 2017 <a href="https://zaiste.net" class="link light-white fw6"><strong>Zaiste</strong></a></small>
    <div class="mt3">
      <a href="https://twitter.com/kulfonjs" title="Language" class="f6 dib pr2 link light-white dim">@kulfonjs</a>
      <a href="https://github.com/zaiste/kulfon" title="Language" class="f6 dib pr2 link light-white dim">GitHub</a>
    </div>
  </footer>
  {% for javascript in javascripts %}
  <script type="text/javascript" src="{{ javascript }}"></script>
  {% endfor %}
  <script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
